body {
                background-color: #002b36;
                color: white;
            }
            #input1 {
                float: left;
                width: 49%;
                height: 50%;
                background: transparent;
                color: white;
            }
            #input2 {
                float: right;
                width: 49%;
                height: 50%;
                background: transparent;
                color: white;
            }
            #buttons {
                clear: both;
            }
            #repeat {
                width: 75px;
            }
            .green {
                color: lightgreen;
            }
            .red {
                color: Crimson;
            }
            #debug {
                display: none;
            }