body {
    background-color: #002b36;
    color: white;
}

#input1 {
    float: left;
    width: 49%;
    height: 50%;
    background: transparent;
    color: white;
}

#input2 {
    float: right;
    width: 49%;
    height: 50%;
    background: transparent;
    color: white;
}

#buttons {
    clear: both;
}

#repeat {
    width: 75px;
}

.green {
    color: lightgreen;
}

.red {
    color: Crimson;
}

#debug {
    display: none;
}

.subheader {
    font-size: 17px;
}

a {
    color: #3498db;
}

#source-gh {
    position: absolute;
    bottom: 10;
    right: 30;
    text-decoration: underline;
    font-size: 20px;
}

#source-gh:hover {
    animation: 1s fade-big 1 forwards;
}

@keyframes fade-big {
    to {
        font-size: 22px;
    }
}